<section>
    <!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Học toán Online</title>
  <link rel="icon" type="image/x-icon" href="./image/favicon.ico">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="dethi.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
      body { background-image: url("../image/luyentap.jpg") }
      a { font-size: 20px; }
  </style>
</head>
<body>
    <h1>Đề kiểm tra tổng hợp</h1>
    <div *ngIf="showGuide">
        <div id = "guide">
        <h3>Bài kiểm tra có 10 câu hỏi, mỗi câu trả lời đúng sẽ nhận được 1 điểm</h3>
        <h3>Chúc các em làm bài tốt!</h3><br>
        <button type="button" onclick="cauhoi();" id="start" class="col-sm-6">Bắt đầu làm bài</button>
    </div>
    </div>
    <div class="container" scrolling="yes">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <div id="divQues">

                </div>
                 <div *ngIf="showChoiceCheck">
                    <button type="button" (click)="checkAns();" id="kiemtra">Nộp bài</button><br>
                </div>

            </div>

            <div class="col-sm-1">
                <div *ngIf="showChoice">

                    <div class="score">
                        <div class="kdiem">
                            <div class="panel panel-body panel-primary">
                                <h2 id="diem">Điểm</h2>
                                <div *ngIf="first">
                                    <h2 id="begin">0</h2>
                                </div>
                                <h2 id="scoreValue"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
   </div>
</body>
